<% content_for :body_class, "level end left" %>

<%= link_to image_tag("/assets/rocketbtn.svg"), map_path, class: "backMap" %>
<%= link_to "Accueil", map_path, class: "backMenu" %>

<img src="/assets/starship.svg" class="starship" alt="Fusée" />
<div class="bull">
    <div class="bullTitle">Roquette</div>
    <p class="starshipText"><%= @planet.end_text %></p>
    <img src="/assets/bull-shape.svg" class="bullShape" alt="Tracé bulle" />
</div>

<% if @planet.background_image.attached? %>
    <%= image_tag @planet.background_image, class: "levelBackground" %>
<% end %>


