<% content_for :body_class, "landing space" %>
<div class="starsBackground"></div>

<img src="/assets/logo.svg" class="logo" alt="Logo Destination Emotions" />
<div class="buttons">
    <%= link_to 'Nouvelle partie', tuto_path(), :class => "bigButton" %>
    <%= link_to 'J\'ai déjà joué', map_path(), :class => "bigButton" %>
</div>