.gameContainer .bodyAction {
    .body {
        position: absolute;
        bottom: 25px;
        height: 70%;
        width: auto;
    }
    .ui-hover-like {
        background-image: radial-gradient(  rgb(95, 210, 255) 0%, rgba(255,255,255,0) 70%);
    }

    .emotionLink {
        width: 18%;
        position: absolute;
        display: none;

        &.bouche {
            top: 37%;
            left: 52%;
        }

        &.bras {
            top: 52%;
            left: 28%;
        }

        &.coeur {
            top: 57%;
            left: 52%;
        }

        &.dents {
            top: 39%;
            left: 29%;
        }

        &.epaule {
            top: 53%;
            left: 53%;
        }

        &.mains {
            top: 69%;
            left: 27%;
        }

        &.tete {
            top: 26%;
            left: 27%;
        }

        &.tete2 {
            top: 26%;
            left: 53%;
        }

        &.ventre {
            top: 56%;
            left: 30%;
        }
    }

    .emotionName {
        position: absolute;
        left: 50%;
        top: 50px;
        transform: translateX(-50%);
        margin-top: 30px;
        color: #DD1F00;
        font-size: 34px;
    }

    .reactionGroup {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 140px;
        cursor: pointer;

        .reactionPicture {
            width: 115px;
            box-shadow: 0 2px 4px 0 #0000003b;
            border-radius: 200px;
            background: white;
        }

        .reactionName {
            font-size: 20px;
            text-align: center;
            line-height: 1.2;
        }
        
        &:nth-child(1) {
            top: 15%;
            left: 5%;
        }

        &:nth-child(2) {
            bottom: 15%;
            left: 5%;
        }

        &:nth-child(3) {
            top: 15%;
            right: 5%;
        }

        &:nth-child(4) {
            bottom: 15%;
            right: 5%;
        }
    }

    .none {
        display: none;
    }

    #next_connect{
        position: absolute;
        bottom : 20px;
    }
}