.gameContainer {
    position: relative;

    .connect {
        z-index: -15;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        .definition {
            position: absolute;
            left: 50%;
            top: 50%;
            width: 45%;
            transform: translate(-50%, -50%);
            font-size: 25px;
            font-weight: 500;
            text-align: center;
        }

        .emotionButton {
            position: absolute;
            transform: translate(-50%, -50%);
            border-radius: 100px;
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.23);
            width: 155px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 23px;
            font-weight: 500;

            &.peur {
                left: 50%;
                top: 20%;
                color: #0B0549;
            }

            &.tristesse {
                left: 80%;
                top: 40%;
                color: #898EC9;
            }

            &.colere {
                left: 80%;
                top: 70%;
                color: #DD1F00;
            }

            &.surprise {
                left: 50%;
                top: 90%;
                color: #2500AD;
            }

            &.degout {
                left: 20%;
                top: 70%;
                color: #9CD338;
            }

            &.joie {
                left: 20%;
                top: 40%;
                color: #E8BD09;
            }
        }

        .button-base {
            position: absolute;
            top: 65%;
        }

        .none {
            display: none;
        }

        .shake-question {
            -webkit-animation: shake-question 1s;
            animation: shake-question 1s;
        }
        
        @keyframes shake-question {
            0% { transform: translate(-49%, -49%) rotate(0deg); }
            10% { transform: translate(-51%, -52%) rotate(-1deg); }
            20% { transform: translate(-53%, -50%) rotate(1deg); }
            30% { transform: translate(-47%, -48%) rotate(0deg); }
            40% { transform: translate(-49%, -51%) rotate(1deg); }
            50% { transform: translate(-51%, -49%) rotate(-1deg); }
            60% { transform: translate(-53%, -49%) rotate(0deg); }
            70% { transform: translate(-47%, -49%) rotate(-1deg); }
            80% { transform: translate(-49%, -49%) rotate(1deg); }
            90% { transform: translate(-49%, -48%) rotate(0deg); }
            100% { transform: translate(-49%, -52%) rotate(-1deg); }
          }
    }
}
                                                