.end {
    .backMap {
        position: absolute;
        top: 30px;
        right: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 100px;
        background-color: #DD1F00;
        border-radius: 500px;
        z-index: 2;

        &:hover img {
            transform: rotate(360deg);
        }

        img {
            width: 90px;
            height: 90px;
            transition: transform .3s ease-out;
        }
    }

    .backMenu {
        position: absolute;
        top: 140px;
        right: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;
        color: white;
        font-weight: bold;
        font-size: 30px;
        font-family: 'Circular';
    }

    &.left {
        .starship {
            right: 3vw;
        }

        .bull {
            left: 3vw;

            .bullTitle {
                right: 50px;
            }
    
            .bullShape {
                bottom: -26px;
                right: -5px;
                transform: rotate(90deg);
            }
        }
    }

    &.right {
        .starship {
            left: 3vw;
        }

        .bull {
            right: 3vw;

            .bullTitle {
                left: 50px;
            }
    
            .bullShape {
                bottom: -8px;
                left: -22px;
                transform: rotate(180deg);
            }
        }
    }

    .starship {
        position: absolute;
        top: 10vh;
        height: 80vh;
        animation: .8s infinite alternate wiggle;
        z-index: 1;
    }

    .bull {
        position: absolute;
        top: 20vh;
        width: 53vw;
        background-color: white;
        border-radius: 20px;
        padding: 50px 30px 30px 30px;
        z-index: 2;
        
        .bullTitle {
            position: absolute;
            top: 0;
            height: 55px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 60px;
            transform: translate(0, -50%);
            background-color: #00C7C7;
            color: white;
            font-size: 26px;
            font-family: 'Circular';
            font-weight: 700;
            letter-spacing: 1px;
            border: 0.5px solid black;
            border-radius: 10px;
        }

        .starshipText {
            font-size: 22px;
            font-weight: 400;
            line-height: 1.5;
            font-family: 'Circular';
            color: #161718;
        }

        .bullShape {
            position: absolute;
            width: 42px;
        }
    }
}

@keyframes wiggle {
    0% {transform: translate(0, 0);}
    20% {transform: translate(5px, 2px);}
    40% {transform: translate(8px, -4px);}
    60% {transform: translate(3px, -6px);}
    80% {transform: translate(-2px, 3px);}
    100% {transform: translate(0, 0);}
}