.gameContainer .free {
    position: relative;
    justify-content: flex-start;

    .popup {
        z-index: 1;
        top: 0%;
        position: absolute;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        background-color: rgba(255, 243, 77, 0.9);
        border-radius: 50px;

        .child {
            width : 250px;
        }
        .text {
            margin: 2%;
            font-size: 25px;
            text-align: center;
            line-height: 1.4;
            max-width: 70%;
        }

        .back {
            position: absolute;
            bottom: 8%;
            right: 5%;
            font-size: 20px;
            background-color: #00C4CC;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 200px;
            height: 50px;
            border-radius: 100px;
            box-shadow: 0 7px 0 0 rgb(0, 164, 170);
        }
    }

    .none {
        display: none;
    }
    .block {
        display: flex;
    }

    .definitions {
        margin-top: 50px;
        width: 100%;
        height: 65%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .definition {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .picture {
                width: 180px;
                height: 150px;
            }

            .text {
                font-size: 20px;
                line-height: 1.2;
                text-align: center;
                width: 180px;
                margin-top: 7px;
                font-weight: 500;
            }

            .slot {
                margin-top: 15px;
                width: 110px;
                height: 110px;
                border-radius: 23px;
                border: 1px dashed rgb(177, 177, 177);
            }
        }
    }

    .solutions {
        width: 100%;
        height: 25%;
        display: flex;
        justify-content: space-around;

        .solution {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 150px;
            height: 150px;
            box-shadow: 0 3px 5px 0 #00000036;
            border-radius: 30px;
            background-color: white;

            &:nth-child(1) .text {
                color: #898EC9;
            }
    
            &:nth-child(2) .text {
                color: #E8BD09;
            }
    
            &:nth-child(3) .text {
                color: #DD1F00;
            }
    
            &:nth-child(4) .text {
                color: #000000;
            }

            .emotionImg {
                width: 110px;
                height: 110px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .text {
                font-size: 20px;
                line-height: 1.2;
                text-align: center;
                width: 110px;
                margin-top: 7px;
                font-weight: 500;
            }
        }
    }
}