.landing {
    .logo {
        position: absolute;
        left: 50%;
        top: 10vh;
        transform: translate(-50%, 0);
        height: 65vh;
    }

    .buttons {
        position: absolute;
        display: flex;
        left: 50%;
        top: 82vh;
        transform: translate(-50%, 0);

        .bigButton {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 367px;
            height: 82px;
            margin: 0 30px;
            background-color: white;
            border-radius: 100px;
            font-family: 'Circular';
            font-weight: 700;
            font-size: 30px;
            color: #161718;
            transform: scale(1);
            transition: transform .3s cubic-bezier(0.075, 0.82, 0.165, 1);

            &:hover {
                transform: scale(1.05);
            }
        }
    }
}