.gameContainer .likeUnlike {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;

    .ui-hover-like {
        background-image: radial-gradient( rgb(95, 210, 255) 0%, rgba(255,255,255,0) 70%);
    }
    .popup {
        z-index: 1;
        top: 0%;
        position: absolute;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column;
        height: 100%;
        width: 100%;
        background-color: rgba(255, 237, 100, 0.9);
        border-radius: 50px;

        .text {
            margin: 0 10% 30px;
            font-size: 35px;
            color: #505050;
            font-weight: 600;
            text-align: center;
        }

        .back {
            position: absolute;
            bottom: 8%;
            right: 5%;
            font-size: 20px;
            background-color: #00C4CC;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 200px;
            height: 50px;
            border-radius: 100px;
            box-shadow: 0 7px 0 0 rgb(0, 164, 170);
        }
    }

    .popup-wrong {
        z-index: 1;
        top: 0%;
        position: absolute;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column;
        height: 100%;
        width: 100%;
        background-color: rgba(157, 211, 56, 0.9);
        border-radius: 50px;

        .text {
            margin: 0 10% 30px;
            font-size: 35px;
            color: white;
            font-weight: 600;
            text-align: center;
        }

        .back {
            position: absolute;
            bottom: 8%;
            right: 5%;
            font-size: 20px;
            background-color: #00C4CC;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 200px;
            height: 50px;
            border-radius: 100px;
            box-shadow: 0 7px 0 0 rgb(0, 164, 170);
        }
    }


    .object {
        position: absolute;
        width: 100px;

        .lol{
            height: 200%;
        }
        
        &:nth-child(9) {
            top: 25%;
            left: 26%;
        }

        &:nth-child(11) {
            top: 16%;
            left: 45%;
        }

        &:nth-child(13) {
            top: 30%;
            left: 55%;
        }
    }

    .child {
        width: 32%;
    }

    .next{
        position: absolute;
        top: 40%;
    }
    .none {
        display: none;
    }
    .block {
        display: flex;
    }
}