.noAnimation .planet {
    opacity: 0;
    transition: none;
}

.logoSimple {
    position: absolute;
    left: 50%;
    top: 8vh;
    transform: translate(-50%, 0);
    height: 18vh;
}

.planet {
    position: absolute;
    left: 50%;
    top: 47%;
    transform: translate(-50%, -30%);
    transition: transform .5s cubic-bezier(0.165, 0.84, 0.44, 1);

    &.leftOut {
        transform: translate(-220%, -40%) scale(.5) rotate(10deg);
    }

    &.left {
        transform: translate(-154%, -40%) scale(.7) rotate(5deg);
    }

    &.center {
        transform: translate(-50%, -30%);

        .planetName {
            transform: translateX(-50%) scale(1);
        }
    }

    &.right {
        transform: translate(54%, -40%) scale(.7) rotate(-5deg);
    }

    &.rightOut {
        transform: translate(120%, -40%) scale(.5) rotate(-10deg);
    }
}

.planetPicture {
    width: 42vw;
    max-width: 700px;
}

.planetName {
    position: absolute;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 50px;
    width: 85%;
    height: 112px;
    background-color: white;
    border-radius: 100px;
    font-family: 'Circular';
    font-weight: 700;
    font-size: 30px;
    color: #161718;
    transform: translateX(-50%) translateY(-20%) scale(0);
    transition: transform .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}


.arrow {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: white;
    box-shadow: 0 7px 0 0 #161718b6;
    border-radius: 100px;
    transition: transform .1s;

    .icon {
        width: 18px;
        height: 18px;
    }

    &.arrowLeft {
        top: 55%;
        left: 20px;
        transform: translate(50%, -50%);

        &:active {
            transform: translate(50%, calc(-50% + 2px));
        }
    }

    &.arrowRight {
        top: 55%;
        right: 20px;
        transform: translate(-50%, -50%);

        &:active {
            transform: translate(-50%, calc(-50% + 2px));
        }

        .icon {
            transform: rotate(180deg)
        }
    }
}

.bottomInfo {
    position: absolute;
    bottom: 0;
    left: 0;
    font-family: 'Circular';
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #21345C;
    color: #FFF;
    font-size: 20px;
    text-align: center;
}

.helpButton {
    position: absolute;
    top: 35px;
    right: 35px;
    width: 65px;
    height: 65px;
    cursor: pointer;

    .icon {
        width: 100%;
        height: 100%;
    }
}

.emotionsPopup {
    position: absolute;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    padding: 80px 30px 30px 30px;
    background-color: #00000000;
    pointer-events: none;
    transition: background .4s cubic-bezier(0.075, 0.82, 0.165, 1);

    &.active {
        pointer-events: auto;
        background-color: #00000059;

        .gameCard {
            transform: translateY(0%);
            transition: transform .4s cubic-bezier(0.165, 0.84, 0.44, 1);
        }
    }

    .gameCard {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
        padding: 35px;
        font-family: 'Circular';
        background-color: white;
        border-radius: 50px;
        box-shadow: 0 10px 3px 0 rgba(0, 0, 0, 0.05);
        transform: translateY(100vh);
        transition: transform .4s cubic-bezier(0.55, 0.085, 0.68, 0.53);

        .entitled {
            z-index: 2;
            position: absolute;
            top: 0;
            transform: translateY(-50%);
            padding: 20px 30px;
            max-width: 80%;
            box-shadow: 0px 0px 55px rgba(0, 0, 0, 0.150);
            border-radius: 200px;
            background-color: white;
            font-size: 30px;
            text-align: center;
            line-height: 1.3;
            color: #431931;
            font-weight: 500;
        }

        .emotions {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .emotion {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: baseline;
                width: 30%;
                margin-bottom: 20px;

                &.tristesse .name {
                    color: #898EC9
                }

                &.joie .name {
                    color: #E8BD09
                }

                &.degout .name {
                    color: #9CD338
                }

                &.colere .name {
                    color: #DD1F00
                }

                &.surprise .name {
                    color: #2500AD
                }

                &.peur .name {
                    color: #292929
                }

                .icon {
                    width: 115px;
                    height: 115px;
                }

                .name {
                    margin-top: 3px;
                    font-size: 15px;
                    font-weight: 600;
                    text-align: center;
                }

                .description {
                    margin-top: 15px;
                    font-size: 15px;
                    font-weight: 500;
                    text-align: center;
                    color: #707070;
                    line-height: 1.4;
                }
            }
        }

        .closeButton {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            background-color: #00C7C7;
            color: white;
            width: 160px;
            height: 45px;
            border-radius : 25px;
            box-shadow: 0px 5px 0px rgb(0, 141, 141);
            margin-top: 10px;
        }
    }
}