.gameContainer .maskedEmotions {
    justify-content: flex-start;



    .popup {
        z-index: 1;
        top: 0%;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
        width: 100%;
        background-color: white;
        border-radius: 50px;
        opacity: 0.95;

        .text {
            margin: 7%;
            font-size: 35px;
            color: #505050;
            font-weight: 600;
        }
        .text-sub {
            padding: 1vh 0px;
            font-size: 26px;
            font-weight: 500;
            text-align: center;
            margin-bottom: 40px;
            max-width: 90%;
            line-height: 1.3;
        }

        .group_img {
            max-width: 80%;
            display: flex;
            justify-content: center;

            .img {
                box-shadow: 0 0 5px 0 rgb(175, 175, 175);
                border-radius: 20px;
                margin: 5%;
                width: 200px;
                height: 100%;;
            }
        }

    }

    .none {
        display: none;
    }

    .situation{
        max-width: 80%;
        font-size: 34px;
        color: #0B0549;
        transform: translateY(30px);
        line-height: 1.3;
        text-align: center;
        font-weight: 500;
    }

    .story {
        font-size: 30px;
        font-family: "Circular";
        color: #0B0549;
        width: 80%;
        margin: 30px auto 0 auto;
        line-height: 1.5;
        text-align: center;
    }

    .body {
        position: absolute;
        bottom: 70px;
        left: 8vw;
        width: 230px;
    }
    .next{
        position: absolute;
        bottom: 30px;
    }

    .cloudContainer {
        position: absolute;
        left: calc(8vw + 230px);
        bottom: 120px;
        width: 480px;
        height: 300px;

        .cloud {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            transition: opacity .3s;
        }

        .emotion {
            position: absolute;
            width: 120px;
            opacity: 0;
        }

        .emotion-1 {
            top: 60px;
            left: 160px;
        }

        .emotion-2 {
            top: 125px;
            left: 290px;
        }
    }
}