.memory {
    padding: 110px 100px 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .block {
        display: flex;
    }
    .none {
        display : none;
    }

    .popup {
        z-index: 1;
        top: 0%;
        position: absolute;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: 50px;

        img {
            width: 160px;
        }
        .text {
            margin: 5%;
            font-size: 35px;
            color: #505050;
            font-weight: 600;
            text-align: center;
        }

        .text-sub {
            padding: 1vh 0px;
            font-size: 26px;
            font-weight: 500;
            text-align: center;
            margin-bottom: 40px;
            max-width: 90%;
            line-height: 1.3;
        }

        .back {
            position: absolute;
            bottom: 8%;
            right: 5%;
            font-size: 20px;
            background-color: #00C4CC;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 200px;
            height: 50px;
            border-radius: 100px;
            box-shadow: 0 7px 0 0 rgb(0, 164, 170);
        }
    }

    #next_connect{
        position: absolute;
        bottom : 20px;
    }

    .memoryAnswer {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 42px;
        font-weight: 600;
        color: white;
        padding: 30px;
        background-color: #431931;
        border-radius: 100px;
        box-shadow: 0 0 130px 0 white;
        display: none;
    }

    .memoryCard {
        position: relative;
        width: 124px;
        height: 124px;
        border-radius: 23px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 15px;
        cursor: pointer;
        transition: all .3s;
        perspective: 800px;

        &.active {
            .cardBack {
                transform: rotateY(180deg);
                box-shadow: 0 0 20px 0 rgb(175, 175, 175);
            }

            .cardReveal {
                transform: rotateY(0deg);
                box-shadow: 0 0 20px 0 rgb(175, 175, 175);
            }
        }

        &.done {
            .cardBack {
                transform: rotateY(180deg);
                box-shadow: 0 0 20px 0 rgb(175, 175, 175);
            }

            .cardReveal {
                transform: rotateY(0deg);
                box-shadow: 0 0 20px 0 rgb(175, 175, 175);
            }
        }

        .cardBack {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 23px;
            overflow: hidden;
            transform: rotateY(0deg);
            transition: all .3s;
            backface-visibility: hidden;
            box-shadow: 0 0 5px 0 rgb(175, 175, 175);

            img {
                width: 100%;
                height: 100%;
            }
        }

        .cardReveal {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 23px;
            overflow: hidden;
            transform: rotateY(-180deg);
            transition: all .3s;
            backface-visibility: hidden;
            box-shadow: 0 0 5px 0 rgb(175, 175, 175);

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}