.question {
    position: relative;

    .answer-explication {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;;
        overflow: hidden;
        padding: 35px;
        font-family: 'Circular';
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: 50px;
        box-shadow: 0 10px 3px 0 rgba(0, 0, 0, 0.05);

        &.none {
            display: none;
        }

        img {
            width : 20%;
            height: auto;
            margin: 2vh 0px;
            box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.150);
            border-radius: 25px;
            background: white;
        }
    }

    .sub-explanation{
        padding: 2vh 0px;
        font-size: 42px;
        font-weight: 700;
        text-align: center;
        line-height: 1.3;
    }

    .explanation{
        padding: 2vh 0px;
        font-size: 26px;
        font-weight: 500;
        text-align: center;
        margin-bottom: 40px;
        max-width: 90%;
        line-height: 1.3;
    }

    .situation{
        padding: 4vh 0px;
        max-width: 80%;
        font-size: 34px;
        color: #0B0549;
        transform: translateY(30px);
        line-height: 1.3;
        text-align: center;
        font-weight: 500;
    }
    
    .list-solutions{
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        .solution{
            width: 33%;
            padding: 2vh 0px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-weight: 500;
            font-size: 20px;

            .joie{
                color: #E8BD09;
            }
            .tristesse{
                color: #898EC9;
            }
            .colère{
                color: #DD1F00;
            }
            .peur{
                color: #000000;
            }
            .degout{
                color: #9CD338;
            }
            .surprise{
                color: #3B9BFA;
            }
            img{
                width : 40%;
                height: auto;
                margin: 2vh 0px;
                box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.150);
                border-radius: 25px;
            }
        }

    }

    .wrong {
        box-shadow: 0px 0px 55px rgba(255, 0, 0, 0.15);
    }
    
    .none {
        display: none !important;
    }
    
    
}


.animate {
    -webkit-animation: shake 1s;
    animation: shake 1s;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }