.tuto {
    .firstPlanet {
        position: absolute;
        top: 10vh;
        left: 0;
        transform: translateX(-40%);
        width: 45vh;
    }

    .starship {
        position: absolute;
        top: 10vh;
        right: 3vw;
        height: 80vh;
        animation: .8s infinite alternate wiggle;
    }

    .next {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 5vh;
        right: 5vw;
        background-color: white;
        border-radius: 20px;
        padding: 10px 10px;

        .btn {
            background-color: #00C7C7;
            padding: 20px 30px;
            border-radius: 20px;
            color: white;
            font-size: 26px;
            font-family: 'Circular';
            font-weight: 700;
            letter-spacing: 1px;
        }
    }

    .bull {
        position: absolute;
        left: 3vw;
        bottom: 10vh;
        width: 53vw;
        background-color: white;
        border-radius: 20px;
        padding: 50px 30px 30px 30px;
        
        .bullTitle {
            position: absolute;
            top: 0;
            right: 50px;
            height: 55px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 60px;
            transform: translate(0, -50%);
            background-color: #00C7C7;
            color: white;
            font-size: 26px;
            font-family: 'Circular';
            font-weight: 700;
            letter-spacing: 1px;
            border: 2px solid black;
            border-radius: 10px;
        }

        .starshipText {
            font-size: 22px;
            font-weight: 400;
            line-height: 1.5;
            font-family: 'Circular';
            color: #161718;
        }

        .bullShape {
            position: absolute;
            width: 42px;
            top: -8px;
            right: -23px;
        }
    }
}

@keyframes wiggle {
    0% {transform: translate(0, 0);}
    20% {transform: translate(5px, 2px);}
    40% {transform: translate(8px, -4px);}
    60% {transform: translate(3px, -6px);}
    80% {transform: translate(-2px, 3px);}
    100% {transform: translate(0, 0);}
}