html {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

body {
    width: 100vw;
    height: 100vh;
    position: fixed;
}

#cross{
    top: 2%;
    left: 2%;
    position: absolute;
    z-index: 6;
}

@font-face {
    font-family: 'Circular';
    font-style: normal;
    font-weight: 400;
    src: url("/assets/CircularStd-Book.ttf") format('truetype');
}

@font-face {
    font-family: 'Circular';
    font-style: normal;
    font-weight: 500;
    src: url("/assets/CircularStd-Medium.ttf") format('truetype');
}

@font-face {
    font-family: 'Circular';
    font-style: normal;
    font-weight: 700;
    src: url("/assets/CircularStd-Bold.ttf") format('truetype');
}

@font-face {
    font-family: 'Circular';
    font-style: normal;
    font-weight: 800;
    src: url("/assets/CircularStd-Black.ttf") format('truetype');
}