<% content_for :body_class, "tuto space" %>
<div class="starsBackground"></div>
<img src="/assets/firstPlanet.svg" class="firstPlanet" alt="Première planète" />
<img src="/assets/starship.svg" class="starship" alt="Fusée" />
<div class="bull">
    <div class="bullTitle">Roquette</div>
    <p class="starshipText">Salut ! Moi c'est Roquette ! Je vais te guider sur les différentes planètes pour t'aider comprendre tes émotions. On va jouer ensemble ! Si tu ne comprends pas quelque chose, demande à un adulte.</p>
    <img src="/assets/bull-shape.svg" class="bullShape" alt="Tracé bulle" />
</div>
<div class="next"><div class="btn"><%= link_to 'Explorer', map_path(), :class => "map" %></div></div>
