// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bravo {
    z-index: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    pointer-events: none;
    transform: translate(-50%, calc(-50% - 100vh));
    transition: all .3s cubic-bezier(0.6, 0.04, 0.98, 0.335);

    &.active {
        pointer-events: initial;
        transform: translate(-50%, -50%);
        transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
}

.none {
    display: none;
}