<% content_for :body_class, "map space noAnimation" %>
<div class="starsBackground"></div>

<img src="/assets/logoSimple.svg" class="logoSimple" alt="Logo Destination Emotions simple" />

<% @planets.each do |planet| %>
    <%= link_to planet_path(planet.id), :action => 'go' do %>
        <div class="planet">
            <% if planet.profil_picture.attached? %>
                <div class="planetPicture"><%= image_tag planet.profil_picture %></div>
            <% end %>
            <%= link_to planet.name, planet_path(planet.id), :class => "planetName" %>
        </div>
    <% end %>
<% end %>
<div class="arrow arrowLeft"><img src="/assets/back.svg" class="icon" alt="icon" /></div>
<div class="arrow arrowRight"><img src="/assets/back.svg" class="icon" alt="icon" /></div>

<div class="helpButton"><img src="/assets/helpButton.svg" class="icon" alt="icon" /></div>

<div class="emotionsPopup">
    <div class="gameCard">
        <div class="entitled">Les 6 émotions principales</div>
        <div class="emotions">
            <div class="emotion tristesse">
                <img src="/assets/carteTriste.svg" class="icon" alt="icon" />
                <p class="name">Tristesse</p>
                <p class="description">C’est une baisse de ton énergie, de ton humeur. Quand tu es triste, tu perds ton appétit, tes forces, ton enthousiasme.</p>
            </div>

            <div class="emotion joie">
                <img src="/assets/carteJoie.svg" class="icon" alt="icon" />
                <p class="name">Joie</p>
                <p class="description">Sensation très agréable provoquée par quelque chose qui te fait plaisir. </p>
            </div>

            <div class="emotion degout">
                <img src="/assets/carteDegout.svg" class="icon" alt="icon" />
                <p class="name">Dégoût</p>
                <p class="description">C’est ce que tu ressens face à quelque chose que tu n’aimes pas. Tu ne veux alors pas t’en approcher, ni le toucher.</p>
            </div>

            <div class="emotion colere">
                <img src="/assets/carteColere.svg" class="icon" alt="icon" />
                <p class="name">Colère</p>
                <p class="description">C’est une sensation très rapide qui s’empare de toi, t’empêchant de réfléchir. Elle te pousse à réagir comme un animal attaqué.</p>
            </div>

            <div class="emotion surprise">
                <img src="/assets/carteSurprise.svg" class="icon" alt="icon" />
                <p class="name">Surprise</p>
                <p class="description">C’est une émotion déclenchée par un imprévu, quelque chose de nouveau. Elle s’associe souvent avec d’autres émotions comme la joie ou la colère.</p>
            </div>

            <div class="emotion peur">
                <img src="/assets/cartePeur.svg" class="icon" alt="icon" />
                <p class="name">Peur</p>
                <p class="description">La peur apparaît quand tu crois qu’il va t’arriver du mal. Par exemple, si tu es poursuivi(e) par un dragon !</p>
            </div>
        </div>
        <div class="closeButton">Fermer</div>
    </div>
</div>

<div class="bottomInfo">
    <p>💡 Lorsque tu ne comprends pas quelque chose, demande à un adulte</p>
</div>