.gameContainer {
    position: absolute;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    padding: 100px 50px 50px 50px;

    .gameCard {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
        padding: 35px;
        font-family: 'Circular';
        background-color: white;
        border-radius: 50px;
        box-shadow: 0 10px 3px 0 rgba(0, 0, 0, 0.05);

        img {
            width: 30px;
        }

        .entitled {
            z-index: 2;
            position: absolute;
            top: 0;
            transform: translateY(-50%);
            padding: 20px 30px;
            max-width: 80%;
            box-shadow: 0px 0px 55px rgba(0, 0, 0, 0.150);
            border-radius: 200px;
            background-color: white;
            font-size: 30px;
            text-align: center;
            line-height: 1.3;
            color: #431931;
            font-weight: 500;
        }

        .step {
            position: absolute;
            bottom: 35px;
            right: 40px;
            font-size: 20px;
            font-weight: 700;
            color: #1B0188;
            z-index: 10;
        }
    }
}