.space {
    background: linear-gradient(to bottom, #233762 0%,#182331 55%,#000000 100%);
    overflow: hidden;

    .starsBackground {
        position: absolute;
        height: 100%;
        background-image: url('/assets/stars.svg');
        background-repeat: repeat-x;
        width: 3500%;
        animation-name: stars;
        animation-duration: 2000s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        z-index: 0;
    }
}

@keyframes stars {
    0%   {transform: translateX(-50%);}
    100% {transform: translateX(0);}
}